@media screen and (min-width: 581px) and (max-width: 768px){
        @include menu-hamburguesa;

        // Inicio main_1
        main .intro-main {
            width: 100%;
        
            .main-1{
                .p-mobil{
                    display: none;
                }
                margin-top: 120px;
                margin-left: 60px;
                @include f-Sans-des;
                font-size: 7vw;
                span{
                    font-size: 64px;
                    color: #0000EC;
                    letter-spacing: 0;
                }
            
            }
        }
        // fin main_1

        // inicio main_2
        main .intro-main .intro{
            display: none;
        }
        
        main .intro-main .intro-2{
            @include f-Mono-des;
        
            width: 100%;
            max-width: 628px;
            max-height: 48px;
            text-align: justify;
            margin: 0 auto;
            margin-bottom: 56px;
        
            
        }
        // fin main_2

        // inicio main_3
        main .intro-main .boton-1 button{
            width: 226px;
            height: 56px;
            margin-bottom: 5px;
            margin-left: 60px;
            background: #00F3BB;
        
            border: none;
            font-size: 18px;
            text-align: center;
            a{
                text-decoration: none;
                @include f-Mono-des-me;
            }
        }
        
        main .intro-main .boton-1 button:hover{
        @include est-btn-hover;
        }
        // fin main_3

        // inicio main_4
        main .potcast .contenedor{
            width: 100%;
            height: 1042.6px; 
            background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
            display: inline-block;
            position: relative;
        
        
            .episodios{
                width: 209px; 
                height: 62px; 
                margin-top: 186px;
                margin-left: 200px;
                
                p{
                    font-family: 'IBM Plex Sans', sans-serif;
                    font-size: 48px;
                    color: #FFFFFF;
                    letter-spacing: 0;
                }
            }
                    
            .gap{
                width: calc(100% - 200px);
                margin-left: 100px; /*deberia ser 100px*/
                margin-top:26px;
        
                
                display: grid;
                grid-template: repeat(2,232px)/repeat(2,584px);
                grid-template: 1fr 1fr / 1fr 1fr;
                grid-gap: 72px;
                
                iframe{
                    width: 100%;
                    max-width: 584px; 
                    min-height: 232px;
                }
            }
        
                
            .svg-1 {
                position: absolute;
                top: 0;
                width: 100%;
                height: 10vw;
                }
                
            .svg-2 {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 10vw;
                    
            }
            
        }
        // fin main_4

        // inicio main_5
        
        main .potcast .celular{
            
            position: relative;
            bottom: 168.2px;
            //margin-top: -168.2px;
            margin-right: 200px;
            width:100%;
            display: flex;
            flex-flow: row;
        
            img{
                width: 100%;
                max-width: 457.6px;
                min-height: 660px;
            }
        
            .venimos-parrafo{
                margin-left: 10.4px;
                position: relative;
                top: 189px;
                margin-bottom: 0;    
            }
            .venimos-parrafo .venimos{
                width:100%;
                max-width: 400px;
                min-height: 62px;
                margin-bottom: 24px;
                @include f-Sans-des;
                font-size: 4vw;        
            }
            .venimos-parrafo .parrafos-venimos{
                max-width: 464px;
                max-height: 204px;
                padding-right:25px;
                
                @include f-Mono-des;
                font-size: 1.4vw;
                text-align: justify;
            }
        
        }    

    // inicio main_6
    main .historia{
        display: none;
    }
    // fin main_6

    // inicio main_7
    main{
        .titulo-inv{
            width: 100%;
            margin-top: -168.2px;
            margin-bottom: 36px;
            @include f-Sans-des;
            font-size: 48px;
            text-align: center;
        }
        .conten-inv{
            top: -168.2px;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
            img{
                width: 100%;
                max-width: 200px;
                min-height: 120px;
            }
        }
    }
    // fin main_7

    // fin main_8
    main .temas{
        .tit-temas{
            @include f-Sans-des;
            font-size: 48px;
            margin-left: 100px;
            margin-top: 64px;
        }

        .contenedor-temas{
            margin: 56px auto;
        
            display: flex;
            flex-flow: row;
            justify-content: space-around;
            

            .tema{
                .box{
                    width: 100%;
                    max-width: 260px;
                    min-height: 130px;
                }

                .tit-stilo{
                    width: 100%;
                    max-width: 220px;
                    margin-top: 16px;
                    @include f-Sans-des-sem;
                    
                }

                display: flex;
                flex-flow: column wrap;
                align-items: center;

            }
            
        }
        
    }
    // fin main_8

    // inicio main_9
    main .novedades{
        background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);;
        width: 100%;
        min-height: 518px;

        .nov-titulo{
            margin: 0 auto;
            margin-top: 113px;
            text-align: center;
            @include f-Sans-des;
            color: #FFFFFF;
            font-size: 48px;
        }
        .svg-3{
            width: 100%;
            height: 100px;
            position: relative;
            top:0px;
        }
        .nov-btn button{
            margin: 0 23vw;
            margin-top: 36px;
            width: 100%;
            max-width: 345px;
            min-height: 56px;
            background: #00F3BB;
            border: none;
            a{
                @include f-Sans-des-sem;
                font-size: 18px;
                line-height: 24px;
                text-decoration: none;
            }
            
        }

        .nov-btn button:hover{
            @include est-btn-hover;
        }
    }
    // fin main_9

    footer{
        height: 95px;
        width: 100%;
        //padding-right: 64px;
        padding-left: 5vw;
        padding-top: 36px;
        
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        
        .padre-redes{
            margin-right: 100px;
            display: flex;
            flex-flow: row wrap;
            .box-r{
                margin-right: 2vw;
                width: 28px;
                height: 18px;
            }
        }
    }
}